/* makes all images responsive */
img {
  max-width: 100%;
  height: auto;
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}

html,
body {
  color: $default-textcolor;
  background-color: $default-background;
  font-size: $default-fontsize;
  font-family: $default-fontfamily;
  font-weight: normal;
  font-style: normal;
}

.logo {
  height: auto;
  width: auto;
  margin-bottom: 10px;
}

.main-header {
  display: flex;
  align-items: center;
  height: 500px;
  flex-direction: column;
  width: 100%;
  transition: $animatrix;

  @include mobile {
    &.loaded {
      height: 400px;
      transition: $animatrix;
    }
    .logo {
      &.loaded {
        height: 250px;
        padding-top: 2rem;
        margin-top: 15px;
        transition: $animatrix;
      }
    }
  }

  @include tablet {
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: $animatrix;

    &.loaded {
      height: 125px;
      margin-bottom: 2rem;
    }

    .logo {
      &.loaded {
        height: 75px;
        padding-top: 2rem;
      }
    }

    .section {
      &.loaded {
        margin-top: 4rem;
        margin-bottom: 2rem;
        padding-left: 4rem;
      }
    }
  }

  @include desktop {
    flex-direction: row;
    align-items: left;
    justify-content: left;
    margin-left: 2rem;
    transition: $animatrix;
  }

  img {
    padding-top: 10rem;
    height: 200px;
  }
}

.section {
  font-size: $default-fontsize;
  font-family: $default-fontfamily;
  font-weight: 400;
  margin-top: 4rem;
  margin-left: 0.75rem;

  &.loaded {
    margin-top: 3rem;
    margin-bottom: 3rem;
    transition: $animatrix;
  }

  @include tablet {
    margin-top: 10rem;
    transition: $animatrix;
  }

  @include desktop {
    margin-top: 10rem;
    transition: $animatrix;
  }
  @include mobile {
    transition: $animatrix;
  }
}

#sections {
  height: auto;
  width: auto;
  font-size: 18px;
  font-weight: 100;
  margin-top: 1rem;
  transition: $animatrix;
}

footer {
  font-weight: 400;
  width: 100%;

  .ftext {
    padding: 2rem 0;
    text-align: center;
    color: $footer-text;
    font-size: $default-fontsize;
    font-family: $default-fontfamily;

    @include desktop {
      text-align: left;
      margin-left: 2rem;
    }
  }
}

.content {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.article {
  position: relative;

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .summary {
    position: absolute;
    color: white;
    text-decoration: none;
    background-color: black;
    opacity: 0;
    bottom: 0;
    padding: 2rem;
    text-align: justify;
    line-height: 1.2rem;
    transition: opacity 0.5s ease-in;

    &:hover {
      opacity: 0.85;
    }
  }
}
