/* makes all images responsive */
img {
    max-width: 100%;
    height: auto;
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}

html,
body {
  color: $default-textcolor;
  background-color: $default-background;
  font-size: $default-fontsize;
  font-family: $default-fontfamily;
  font-weight: normal;
  font-style: normal;
  display: flex;
  flex-direction: column; 
  align-items:flex-start;
}

.logo {
  height: auto;
  width: auto;
 }

.main-header {
 display: flex;
 text-align: center;  
 margin-top: 12rem;
 margin-left: 2rem;
 
}

.section {
  font-size: $default-fontsize;
  font-family: $default-fontfamily;
  font-weight: 400;
  margin-left: 5rem;
  margin-top: 5rem;
}

#sections {
  height: auto;
  width: auto;
  font-size: 18px;
  font-weight: 100;
  margin-top: 1rem;
}

.footer, .ftext {
  color: $footer-text;
  font-size: $default-fontsize;
  font-family: $default-fontfamily;
  margin-top: 15rem;
  margin-left: 1rem;
  font-weight: 400;

}


// Media Queries 

